**/public
**/content
**/node_modules
**/*.swp
**/*.log
**/rest-api/src/fragments/appId.md
**/rest-api/src/fragments/country.response.md
**/rest-api/src/fragments/customFields.md
**/rest-api/src/fragments/from.md
**/rest-api/src/fragments/groupId.md
**/rest-api/src/fragments/imageId.md
**/rest-api/src/fragments/imageType.md
**/rest-api/src/fragments/limit.md
**/rest-api/src/fragments/messageId.md
**/rest-api/src/fragments/offset.md
**/rest-api/src/fragments/recipient.md
**/rest-api/src/fragments/statusCode.md
**/rest-api/src/fragments/text.md
**/rest-api/src/fragments/to.md
**/rest-api/src/fragments/to.response.md
**/rest-api/src/fragments/totalCount.md
**/rest-api/src/fragments/type.response.md
**/rest-api/*.js

