<script>
  var a = {{ .Inner | markdownify }};
  var div = document.createElement('div');
  div.innerHTML = a;
  console.dir(div.childNodes[0]);
  div.childNodes[0].style.cssFloat = "none";
  div.getElementsByClassName("highlight")[0].style.width= "100%";
  div.getElementsByClassName("highlight")[0].style.background= "none";
  div.getElementsByClassName("highlight")[0].childNodes[0].style.cssFloat = "none";
    
  console.dir(div);
  console.log(div.innerHTML);
document.write(div.innerHTML);
</script>

